<div class="content">
  <div class="container-fluid my-5 ">
    <p class="blog p-5">Blog</p>
    <div id="carouselExampleControls" class="carousel carousel-dark slide " data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="card-wrapper container-sm d-flex justify-content-around" style="gap:20px">
            <div class="card-photo">
              <img src="../../../assets/Task_Goberg/image 12.png" class="card-img-top" alt="Modern Interior">
              <div class="card-body">
                <h5 class="card-title py-3">Modern Interior</h5>
                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam,</p>
              </div>
            </div>
            <div class="card-photo">
              <img src="../../../assets/Task_Goberg/image 13.png" class="card-img-top" alt="Exterior Project">
              <div class="card-body">
                <h5 class="card-title py-3">Exterior Project</h5>
                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam,</p>
              </div>
            </div>
            <div class="card-photo">
              <img src="../../../assets/Task_Goberg/image 14.png" class="card-img-top" alt="Grey Beauty">
              <div class="card-body">
                <h5 class="card-title py-3">Grey Beauty</h5>
                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam,</p>
              </div>
            </div>
            <div class="card-photo">
              <img src="../../../assets/Task_Goberg/image 20.png" class="card-img-top" alt="Plantation Interior">
              <div class="card-body">
                <h5 class="card-title py-3">Plantation Interior</h5>
                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam,</p>
              </div>
            </div>
            <div class="card-photo">
              <img src="../../../assets/Task_Goberg/image 21.png" class="card-img-top" alt="Role of Furnitures">
              <div class="card-body">
                <h5 class="card-title py-3">Role of Furnitures</h5>
                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam,</p>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="card-wrapper container-sm d-flex justify-content-around" style="gap:20px">
            <div class="card-photo">
              <img src="../../../assets/Task_Goberg/image 12.png" class="card-img-top" alt="Modern Interior">
              <div class="card-body">
                <h5 class="card-title py-3">Modern Interior</h5>
                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam,</p>
              </div>
            </div>
            <div class="card-photo">
              <img src="../../../assets/Task_Goberg/image 13.png" class="card-img-top" alt="Exterior Project">
              <div class="card-body">
                <h5 class="card-title py-3">Exterior Project</h5>
                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam,</p>
              </div>
            </div>
            <div class="card-photo">
              <img src="../../../assets/Task_Goberg/image 14.png" class="card-img-top" alt="Grey Beauty">
              <div class="card-body">
                <h5 class="card-title py-3">Grey Beauty</h5>
                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam,</p>
              </div>
            </div>
            <div class="card-photo">
              <img src="../../../assets/Task_Goberg/image 20.png" class="card-img-top" alt="Plantation Interior">
              <div class="card-body">
                <h5 class="card-title py-3">Plantation Interior</h5>
                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam,</p>
              </div>
            </div>
            <div class="card-photo">
              <img src="../../../assets/Task_Goberg/image 21.png" class="card-img-top" alt="Role of Furnitures">
              <div class="card-body">
                <h5 class="card-title py-3">Role of Furnitures</h5>
                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam,</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
  <div class="viewall text-center">
  <button class="view">View all</button>
</div>
</div>
