<app-header></app-header>
<div class="content">
<div class="container-fluid ">
  <div class="row home-paner ">
    <div class="col-md-6 image">
      <img class="w-100" src="../../../assets/Task_Goberg/image 15.png" alt="">
    </div>
    <div class="col-md-6 block_div ">
      <div class="text-home">
      <h6 class="mx-4">Get personalised home interiors</h6>
      <h5 class="mx-5">in just 50 days</h5>
      <button class=" mx-5">SPEAK WITH A ONLINE CONSULTANT</button>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="land">
    <p class="pb-5">Why LAND Interiors</p>
    <div class="row">
      <div class="col-4 ">
        <div class="image-container">
          <img src="../../../assets/Task_Goberg/Vector (1).png" alt="Image">
        </div>
        <p>50 days or we pay you rent</p>
      </div>
      <div class="col-4">
        <img src="../../../assets/Task_Goberg/bx_bx-home-smile.png" alt="">
        <p>51500+happy customers</p>
      </div>
      <div class="col-4">
        <img src="../../../assets/Task_Goberg/teenyicons_certificate-outline.png" alt="">
        <p>300+ design experties</p>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid pb-5">
  <div class="what_do">
    <p class="">What we do?</p>
  </div>
</div>
</div>
<div class="container furnatuire pt-3 ">
  <div class="row photos">
    <div class="col-lg-3 col-6 ">
      <img class="" src="../../../assets/Task_Goberg/image 3.png" alt="">
      <p class="py-4">Modular Kitchen</p>
    </div>
    <div class="col-lg-3 col-6 ">
      <img class="" src="../../../assets/Task_Goberg/image 4.png" alt="">
      <p class="py-4">Bedroom</p>
    </div>
    <div class="col-lg-3 col-6 ">
      <img class="" src="../../../assets/Task_Goberg/image 8.png" alt="">
      <p class="py-4">Living room</p>
    </div>
    <div class="col-lg-3 col-6  ">
      <img class="" src="../../../assets/Task_Goberg/image 9.png" alt="">
      <p class="py-4">Home office</p>
    </div>
  </div>
</div>

<div class="container-fluid paragraph">
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis, lectus magna fringilla urna, porttitor rhoncus dolor purus non enim praesent elementum facilisis leo, vel fringilla est ullamcorper eget nulla</p>
</div>

<div class="container-fluid">
  <app-slider></app-slider>
</div>

<div class="container-fluid">
  <app-footer></app-footer>
</div>
