<footer class="footer">
  <div class="footer-left col-md-4 col-sm-6 ">
    <img src="../../../assets/Task_Goberg/Artboard 22 2.png"/>
    <p class="about"> We introduce our selves as  LAND Interior and Architectural Design Consultancy – one of the best interior designers in Chennai. Chennai Luxury Interior and Architectural Design Consultancy has challenged the conventional way of interior designing and given new dimensions to the art of interior designing.
    </p>
    <div class="icons">
      <a ><img src="../../../assets/Task_Goberg/Icons/brandico_facebook-rect.png" /></a>
      <a ><img src="../../../assets/Task_Goberg/Icons/ant-design_youtube-filled.png" /></a>
      <a ><img src="../../../assets/Task_Goberg/Icons/akar-icons_twitter-fill.png" /></a>
      <a ><img src="../../../assets/Task_Goberg/Icons/brandico_linkedin-rect.png" /></a>
      <a ><img src="../../../assets/Task_Goberg/Icons/bx_bxl-instagram.png" /></a>
    </div>
  </div>
  <div class="footer-center col-md-4 col-sm-6">
    <div><p> <span>WHAT WE DO </span></p></div>
    <div>
    <div><p>Kitchen</p></div>
    <div><p>Ceiling</p></div>
    <div><p>Bedroom</p></div>
    <div><p>Smart Home</p></div>
    </div>
  </div>
  <div class="footer-right col-md-4 col-sm-6">
    <div><p> <span>Get in touch </span></p></div>
    <div><p>landinteriors.gmail.com</p></div>
      <div><p>+91 98987 65656</p></div>
    <p class="menu ">
      <a > About</a>
      <a > Projects</a>
      <a > Studio</a>
      <a > Blog</a>
      <a > Contact</a>
    </p>

  </div>
</footer>
